@import url("https://fonts.googleapis.com/css?family=Iceberg");

.match-card {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-family: "Iceberg", cursive;
}
.team1 {
  float: left;
  margin-left: 1rem;
  padding-left: 1rem;
}
.team2 {
  float: right;
  margin-right: 1rem;
  padding-right: 1rem;
}

.center-text {
  text-align: Center;
  color: blue;
}
